@media screen and (min-width: 1025px) {
  .image-container {
    perspective: 1000px;
    width: 60%;
  }
  .elementor-73397 .elementor-element.elementor-element-587964da{
    top: 50px;
  }
}

@media  (max-width:767px){
  .image-container {
    perspective: 1000px;
    width: 50%;
  }
  .home-desc-font{
    font-size: 17px !important;
    line-height: 26px !important;
    /* text-align: justify !important; */
  }
  .home-head-font{
    font-size: 30px !important;
  }
}

.rotating-image {
  /* width: 300px;  */
  height: auto;
  animation: rotateY 3s linear infinite;
  /* Rotate along the Y-axis */
  transform-origin: center;
  /* Rotate from the center */
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .image-container {
    width: 40%;
  }
}

@media(max-width:767px) {
  .about-2 {
    display: flex;
    align-content: end !important;
  }
}

@media(max-width:1024px){
  .mobile-img-container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .home-doct{
    height: 368px;
  }
}
@media screen and (min-width: 1351px) {
  .home-doct{
    height: auto;
  }
}



@media screen and (min-width: 1024px) {
  .footer-col{
    flex-basis: 15%;
  }
  .footer-desc{
    flex-basis: 34%;
  }
  
}
@media screen and (min-width: 769px) and (max-width:1023px){
  .footer-col{
    flex-basis: 36%;
  }
  .footer-desc{
    flex-basis: 41%;
  }
  
}

.footer-icons{
    padding: 11px;
    color: #555;
}
.abtbtn{
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.abtbtn::before{
  background: #ff7675;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.abtbtn1::before{
  width: 0%;
  height: 100%;
}

.abtbtn1:hover::before{
  width: 100%;
}

.widget ul li:first-child{
  padding-top: 4px;
}